OOP/Viikkotehtävä 1/Arvauspeli.exe
OOP/Viikkotehtävä 1/Arvauspeli.ilk
OOP/Viikkotehtävä 1/Arvauspeli.obj
OOP/Viikkotehtävä 1/Arvauspeli.pdb
OOP/Viikkotehtävä 1/vc140.pdb
.vscode/tasks.json
.qtcreator/project.json
.qtcreator/project.json.user
.vscode/launch.json
.vscode/settings.json
OOP/Viikkotehtävä 2/vc140.pdb
OOP/Viikkotehtävä 2/main.pdb
OOP/Viikkotehtävä 2/main.obj
