OOP/Viikkotehtävä 1/Arvauspeli.exe
OOP/Viikkotehtävä 1/Arvauspeli.ilk
OOP/Viikkotehtävä 1/Arvauspeli.obj
OOP/Viikkotehtävä 1/Arvauspeli.pdb
OOP/Viikkotehtävä 1/vc140.pdb
.vscode/tasks.json
.qtcreator/project.json
.qtcreator/project.json.user
.vscode/launch.json
.vscode/settings.json
OOP/Viikkotehtävä 2/vc140.pdb
OOP/Viikkotehtävä 2/main.pdb
OOP/Viikkotehtävä 2/main.obj
OOP/.vs/ProjectSettings.json
OOP/.vs/slnx.sqlite
OOP/.vs/VSWorkspaceState.json
OOP/.vs/OOP.slnx/FileContentIndex/312ee4f6-f532-47cc-a085-32c250f25c4f.vsidx
OOP/.vs/OOP.slnx/v18/.wsuo
OOP/.vs/OOP.slnx/v18/Browse.VC.db
OOP/.vs/OOP.slnx/v18/DocumentLayout.backup.json
OOP/.vs/OOP.slnx/v18/DocumentLayout.json
OOP/.vs/OOP.slnx/v18/ipch/AutoPCH/5ece669dfc0c15c7/MAIN.ipch
OOP/.vs/OOP.slnx/v18/ipch/AutoPCH/e4553b61429233fc/GAME.ipch
OOP/Viikkotehtävä 2/mygame.exe
